<%= render 'page/nav'%>

<h2 id="login">Log in</h2>
<br>
<br>
<br>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.input :email, required: true , input_html: { class: 'in' }, label: false, placeholder: "Email"%>
  </div> 
  <br>
  <div class="field">
    <%= f.input :password, required: true , input_html: { class: 'in' }, label: false, placeholder: "Password"%>
  </div> 
  <br>
  <div class="field">
    <%= f.input :remember_me, input_html: { class: 'tickbox' }, as: :boolean if devise_mapping.rememberable? %>
  </div> 
  <br>
  <br>
  <div class="field">
    <div class="form-actions">
      <%= f.button :submit, "Log in" ,:class => 'button'%>
    </div>
  </div>
<% end %>
<br>
<br>
<div class="field">
  <%= render "users/shared/links" %>
</div>