<%= render 'page/nav'%>
<div class="topheader">
  <h1>Welcome Back</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <h3 class="colour">Email</h3>
    <br>
    <%= f.input :email, required: true , input_html: { class: 'in' }, label: false, placeholder: "Hi@gmail.com"%>
  </div> 
  <br>
  <div class="field">
    <h3 class="colour">Password</h3>
    <br>
    <%= f.input :password, required: true , input_html: { class: 'in' }, label: false, placeholder: "Password 123"%>
  </div> 
  <br>
  <br>
  <br>
  <div class="field">
    <div class="form-actions">
      <%= f.button :submit, "Log in" ,:class => 'button'%>
    </div>
  </div>
<% end %>
<br>
<br>
<br>
<div class="field">
  <%= render "users/shared/links" %>
</div>
<br>
<div class="field">
  <%= link_to 'Venue Log In', new_admin_session_path, :class => 'link' %>
</div>
<br>
<br>
<br>
<%= render "page/footer" %>