= link_to root_path do
  %span.close_AdminForm ×

.admin_form#formTop
  %h1 Welcome Back!
  %p Sign into your account here
  %br
  %br
  .Main
    #Form
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %h3.label Email address
        .field
          = f.input :email, required: true , input_html: { class: 'in' }, label: false, placeholder: "hi@gmail.com"
        %br
        %h3.label Password
        .field
          = f.input :password, required: true , input_html: { class: 'in' }, label: false, placeholder: "Password 123"
        %br
        .field
          = f.button :submit, "Log In" ,:class => 'button'
        
        %br
        %br
        .field
          %p= render "users/shared/links"
          %p 
            |
          %p= link_to "Venue log in", new_admin_session_path, class: 'link'

%br/
%br/
%br/
%br/
%br/
%br/
%br/


    