<%= render "page/nav" %>
<div class="topheader">
  <h1>Venue Sign Up</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.input :email, required: true, input_html: { class: 'in' }, label: false, placeholder: "Email" %>
    <hr class="hr_login">
  </div>
  <br>
  <div class="field">  
    <%= f.input :ownername, required: true, autofocus: true, input_html: { class: 'in' }, label: false, placeholder: "Name" %>
    <hr class="hr_login">
  </div> 
  <br>
    <div class="field">
    <%= f.input :password, required: true, input_html: { class: 'in' }, label: false, placeholder: "Password" %>
    <hr class="hr_login">
    </div>
    <br>
    <div class="field">
    <%= f.input :password_confirmation, required: true, input_html: { class: 'in' }, label: false, placeholder: "Password Confirmation" %>
    <hr class="hr_login">
    </div>
    <br>
  </div>

<br>
<br>
<div class="center">
<p class="colour"> By signing up you agree to our </p>
<p class="colour">T&C and privacy policy</p>
<br>
</div>
<br>

<div class="field">
  <div class="form-actions">
    <%= f.button :submit, "Sign up" ,:class => 'button'%>
  </div>
</div>

<br>
<br>

<% end %>
<br>
<div class="field">
<%= render "admins/shared/links" %>
</div>
<br>
<br>
<br>
<%= render "page/footer" %>
