<%= render "page/nav" %>
<div class="topheader">
  <h1>Venue Sign Up</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <h3 class="colour">Email</h3>
    <br>
    <%= f.input :email, required: true, input_html: { class: 'in' }, label: false, placeholder: "hi@gmail.com" %>
  </div>
  <br>
  <div class="field">
    <h3 class="colour">Name</h3>
    <br>
    <%= f.input :ownername, required: true, input_html: { class: 'in' }, label: false, placeholder: "Venues Ltd" %>
  </div>
  <br>
    <div class="field">
    <h3 class="colour">Password</h3>
    <br>
    <%= f.input :password, required: true, input_html: { class: 'in' }, label: false, placeholder: "Password 123" %>
    </div>
    <br>
    <div class="field">
    <h3 class="colour">Password Confirmation</h3>
    <br>
    <%= f.input :password_confirmation, required: true, input_html: { class: 'in' }, label: false, placeholder: "Password 123" %>
    </div>
    <br>
  </div>

<br>
<br>
<div class="center">
<p class="colour"> By signing up you agree to our </p>
<p class="pcolour"><%= link_to 'terms & condition', page_termsandconditions_path, class:'pcolour' %> and <%= link_to 'privacy policy', page_privacypolicy_path, class:'pcolour' %></p>
<br>
</div>
<br>

<div class="field">
  <div class="form-actions">
    <%= f.button :submit, "Sign up" ,:class => 'button'%>
  </div>
</div>

<br>
<br>

<% end %>
<br>
<div class="field">
<%= render "admins/shared/links" %>
</div>
<br>
<br>
<br>
<%= render "page/footer" %>
