= simple_form_for([@venue, @venue.bookings.build]) do |f|
  .booking_form
    %h2 Booking Request
    %br/
    = f.input :guests, input_html: { class: 'in', id:'form_input_width' }, label: false, placeholder: "Guests : "
    %br/
    = f.input :time, input_html: { class: 'in' }, label: false, placeholder: "Time"
    %br/
    = f.input :date, input_html: { class: 'in', id:'form_input_width' }, label: false, placeholder: "Date"
    %br/
    %br/
    = f.button :submit,"Request a booking",class:'button_submit'