= render 'page/nav'
.topheader
  %h1 Booking Requests
  
.wrapper
  .field

  - @booking.each do |booking|
    .booking_grid
      %br/
      .text
        Time:
        = l booking.time
        
      %br/
      .text
        Guests:
        = booking.guests
      %br/
      .text
        Date:
        = booking.date
      %br/
      .text
        Name:
        = booking.user.name
      %br/
      .text
        Number:
        = booking.user.number
      %br/
      .text
        Email:
        = booking.user.email
      %br/
      %br/



= render 'page/footer' 