= render 'page/nav'
.topheader
  %h1 Booking Requests
  
.wrapper
  %div{:style => "overflow-x:auto;"}
    %table
      %tr
        %th Name
        %th Date
        %th Sent Date
      - @booking.each do |booking|
        %tr
          - if admin_signed_in?
            %td= link_to booking.user.name, venue_booking_path(@venue, booking)
          - elsif user_signed_in?
            %td= link_to booking.admin.ownername, venue_booking_path(@venue, booking)
          %td= link_to booking.date.strftime("%d/%m/%y"), venue_booking_path(@venue, booking)
          %td= link_to booking.created_at.strftime("%d/%m/%y"), venue_booking_path(@venue, booking)

          

= render 'page/footer'