<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)"  onclick="closeNav()"  >X CLOSE </a>
  <br>
  <br>
  <br>
  <% unless admin_signed_in? %>
    <a href="#"><%= link_to 'Venue Log In', new_admin_session_path %> </a>
    <a href="#"><%= link_to 'List Your Venue', page_listyourvenue_path %></a>
  <% end %>    
  <% if admin_signed_in?%>
    <h1 style="color:gray;" > Hello <br> <%= current_admin.name %></h1>
    <br>
    <h1 style="color:#ffffff;"><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></h1>
  <% end %>
</div>

 
<div class="topnav" id="myTopnav">
  <a><%= link_to 'Khrez', root_path %></a>
   <span id="hammenu" onclick="openNav()">&#9776</span>
</div>
