<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)"  onclick="closeNav()"  >X CLOSE </a>
  <br>
  <br>
  <br>
  <% unless admin_signed_in? %>
  <% unless user_signed_in? %>
    <a href="#"><%= link_to 'Log In', new_user_session_path %> </a>
    <a href="#"><%= link_to 'Sign Up', new_user_registration_path %> </a>
    <br>
    <br>
    <hr>
    <br>
    <a href="#"><%= link_to 'Venue Log In', new_admin_session_path %> </a>
    <div id="hide">
    <a href="#"><%= link_to 'List Your Venue', page_listyourvenue_path %></a>
    </div>
  <% end %>    
  <% end %>
  <% if admin_signed_in?%>
    <a style="color:gray;" > Hello <br> <%= current_admin.name %></a>
    <br>
    <a style="color:gray;" > Booking requests </a>
    <br>
    <br>
    <hr>
    <h1 style="color:#ffffff;"><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></h1>
  <% end %>
    
  <% if user_signed_in?%>
    <a style="color:gray;" > Hello <br> <%= current_user.name %></a>
    <br>
    <a style="color:gray;" > Booking requests </a>
    <br>
    <a style="color:#ffffff;" > <%= link_to 'Account', edit_user_registration_path  %> </a>
    <br>
    <br>
    <hr>
    <h1 style="color:#ffffff;"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></h1>
  <% end %>
  
  
</div>

 
<div class="topnav" id="myTopnav">
  <a id="logo"><%= link_to 'K', root_path %></a>
   <span id="hammenu" onclick="openNav()">&#9776</span>
</div>
