<div class="topnav" id="myTopnav">
  <a id="logo" href="http://www.khrez.co.uk/">K</a>
  <% unless admin_signed_in? %>
  <% unless user_signed_in? %>
    <a id="down"><%= link_to 'Venue Log In', new_admin_session_path %> </a>
    <a href="#"><%= link_to 'List Your Venue', page_listyourvenue_path %></a>
  <% end %>    
  <% end %>
  <% if admin_signed_in?%>
    <a style="color:#ffffff;"><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></a>
  <% end %>
    
  <% if user_signed_in?%>
    <a style="color:gray;" > Hello <br> <%= current_user.name %></a>
    <a style="color:gray;" > Booking requests </a>
    <a style="color:#ffffff;" > <%= link_to 'Account', edit_user_registration_path  %> </a>
    <a style="color:#ffffff;"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></a>
  <% end %>
    <a href="javascript:void(0);" style="font-size:35px;padding: 15px 30px;color:gray" class="icon" onclick="myFunction()">&#9776;</a>
</div>