= render 'nav'

.wrapper
  %h1.center.colour All venue admins 
  %br
  %h3.center.colour 
    = Admin.count
    venue admins
    
  %h3.center.colour 
    = Venue.count
    venues 
  %br
  %br
  %br
  %hr
  %br

  - @admin.each do |admin|
    %h3.center
      Email:
      = admin.email
    %h3.center
      Phone Number:
      = admin.phone
    %h3.center
      Name:
      = admin.name
    %br
    %hr
    %br
 
%br
%br
%br
%br
%br
%br


= render 'footer'    