
.wrapper
  %h1.colour
    = Admin.count
    Admins
    
  %br/
 
  - @admin.each do |admin|
    - if admin.code.present?
      .admin2
        %p= admin.name
        %p= admin.email
        %p= admin.phone
        %p= admin.code
    - else
      .admin
        %p= admin.name
        %p= admin.email
        %p= admin.phone
        %p= admin.code
        
    %br/
    %br/

  = link_to('Logout', destroy_chisom_session_path, method: :delete, class:'button')
  
  %br/
  %br/
  %br/