.hero-image
  .hero-text
    %h1 Find Your Perfect Venue
    #text2
      %h2 As Easy As Possible
    = form_tag(venues_path, :method => "get", :id => 'form') do
      = text_field_tag  :search, params[:search], placeholder: "location ", :id => 'search', required: true
      = submit_tag "Search", :name => nil, :class => "searchbutton"

%br/
%br/
%br/

%h1#exloretext
  Explore
  %span#fullstop .


.grid
  .grid-sizer
  - @venue.each do |venue|
    .grid-item
      = link_to ( image_tag venue.thumbnail.url(:medium)), venue, target: :_blank
      %br/
      %br/
      = link_to venue.name, venue, :class => 'venuetext', target: :_blank
      %br/
      %br/
      = link_to venue.category, venue, :class => 'venuecat', target: :_blank
      %br/
      %br/
      = link_to venue.city, venue, :class => 'venuecit', target: :_blank
      %br/
      -if admin_signed_in?
        %br/
        = link_to 'Delete', venue, method: :delete, data: { confirm: 'Are you sure, you will loose everything !' } 
        %br/
        %br/
        = link_to 'Edit', edit_venue_path(venue), target: :_blank
        %br/
        %br/
        %br/
        %br/

= render 'page/footer' 