

.hero-image
  = render 'page/nav'
  
  .hero-text
    %h1 Find Your Perfect Venue
    #text2
      %h2 As Easy As Possible
    = form_tag(venues_path, :method => "get", :id => 'form') do
      = text_field_tag (:city), params[:city], placeholder: "location ", required: true, :id => 'search'
      = select_tag((:category), options_for_select([["Hall","hall"],["Bar","bar"],["Meeting Room","meeting room"],["Reception","reception"],["Kids Party","kids party"],["Exhibition","exhibition"],["Performance Venue","Performance Venue"],["Wedding Venue","Wedding Venue"],["Private Room","private room"],["Conference Room","conference room"]],params[:category].to_i), prompt: "Venue Type", :id => 'cat')
      = submit_tag "Search", :name => nil, :class => "searchbutton"

%br/
%br/
%br/

%h1#exloretext
  Explore
  %span#fullstop .

%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/

#posts
  - @venue.each do |venue|
    .post
      .post_image
        = link_to ( image_tag venue.thumbnail.url(:medium)), venue, target: :_blank
      .post_content
        = link_to venue.name, venue, :class => 'venuetext', target: :_blank
        %br/
        %br/
        = link_to venue.category, venue, :class => 'venuecat', target: :_blank
        %br/
        %br/
        = link_to venue.city, venue, :class => 'venuecit', target: :_blank

= render 'page/footer'

:javascript

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106207758-1', 'auto');
  ga('send', 'pageview');
