= render 'page/nav'
.top_image
  .top_image_text
    %h1 
      List your venue 
      %br>/
      the smartest way with 
      %br>/
      khrez
    %br/
    = link_to "Get Started", new_admin_registration_path, class: 'get_started_button'

.content_grid
  .line
  .circle1
  .circle2
  .circle3
  .circle4
  .content_text
    = image_tag("List Your Venue/message.png", :alt => "Chat Illustration", :id => 'messageillustration')
    .content_text_2
      %h1
        Easy Communication
        %br>/
        With Customers
      %p
        As soon as your recieve a booking request
        %br>/
        from a customer simply just accept or 
        %br>/
        reject your booking requests as they 
        %br>/
        come in !
    = image_tag("List Your Venue/twitter.png", :alt => "Twitter Illustration", :id => 'twitterillustration')
    .content_text_3
      %h1
        Get
        %br>/
        Free Promotion
      %p
        We will advertise your venue across
        %br>/
        our various social media platforms
        %br>/
        for no extra cost
    = image_tag("List Your Venue/headphones.png", :alt => "Support Illustration", :id => 'supportillustration')
    .content_text_4
      %h1
        First Class
        %br>/
        Support
      %p
        We will advertise your venue across
        %br>/
        our various social media platforms
        %br>/
        for no extra cost
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/

= render 'page/footer'