
.list_venue
  = render 'page/nav'
  .list_venue_text
    %h1 Get Bookings Forever
    %h2.two Easier and faster
  .button_section
    = link_to 'Get Early Aceess', new_admin_registration_path, class:'button'
    %br/
    %br/
    %p No credit card required

.LYV

  %h2.top
    Khrez helps you get an increase in bookings for your 
    %br/
    venue. While making the process simple so you can focus 
    %br/
    on running your business.

.wrapper
  .field
    %button.button{:onclick => "on()"} Watch Video
  %br/
  %br/
  %br/
  %br/
  %br/
  
  #content
    %hr/
    %br/
    %br/
    = image_tag("List Your Venue/roof.png", :alt => "roof", class: 'icon')
    %br/
    %h1 Everything under one roof.
    %p 
      We know how difficult it is to to manage venues, that's why
      %br/
      we provide you with great tools to be able to do everything 
      %br/
      from  taking bookings to collecting payments .
    
    %br/
    %br/
    %hr/
    %br/
    %br/
    = image_tag("List Your Venue/twitter.png", :alt => "twitter", class: 'icon')
    %br/
    %h1 Free promotion for your venues.
    %p
      To help with the bookings you receive, we give your venue promotion 
      %br/
      on our various social channels .
    
    %br/
    %br/
    %hr/
    %br/
    %br/
    = image_tag("List Your Venue/discuss-issue.png", :alt => "support", class: 'icon')
    %br/
    %h1 We provide first class support.
    %p
      Just in case you have any problems we have made it easy 
      %br/
      to call or message us to get a solution to your problems .
    %br/
    %br/
    %hr/
    
    #overlay{:onclick => "off()"}
      %iframe{:allow => "encrypted-media",:frameborder => "0", :gesture => "media", :height => "315", :src => "https://www.youtube.com/embed/GW0l_GUPCmY", :width => "560", class:'video'}

.call_to_action
  %h1 Like what you see ? Get started today
  %br/
  %br/
  .button_section
    = link_to 'Get Early Aceess', new_admin_registration_path, class:'button'
= render 'page/footer'

:javascript

  function on() {
    document.getElementById("overlay").style.display = "block";
  }
  
  function off() {
    document.getElementById("overlay").style.display = "none";
  }