.top_image
  = render 'page/nav'
  .top_image_text
    %h1 
      List your venue 
      %br>/
      the smartest way with 
      %br>/
      khrez
    %br/
    = link_to "Get Started", new_admin_registration_path, class: 'get_started_button'
  .top_image_img
    = image_tag("idea.png", :alt => "Idea Img", :id => 'ideaimg')
  .top_image_symbol
    &darr;

.content_grid
  .line
  .circle1
  .circle2
  .circle3
  .circle4
  = image_tag("piggy-bank.png", :alt => "Pig Illustration", :id => 'pigillustration')
  .content_text
    .content_text_1
      %h1
        No Nasty
        %br>/
        Commissions
      %p
        Nobody likes commission per booking thats 
        %br>/
        why we only charge you a straight
        %br>/
        monthly fee, this is one of the things 
        %br>/
        that we do to make your business 
        %br>/
        run smoother 
    = image_tag("chat.png", :alt => "Chat Illustration", :id => 'chatillustration')
    .content_text_2
      %h1
        Easy Communication
        %br>/
        With Customers
      %p
        As soon as your recieve a booking request
        %br>/
        from a customer simply just accept or 
        %br>/
        reject your booking requests as they 
        %br>/
        come in !
    = image_tag("twitter.png", :alt => "Twitter Illustration", :id => 'twitterillustration')
    .content_text_3
      %h1
        Get
        %br>/
        Free Promotion
      %p
        We will advertise your venue across
        %br>/
        our various social media platforms
        %br>/
        for no extra cost
    = image_tag("support.png", :alt => "Support Illustration", :id => 'supportillustration')
    .content_text_4
      %h1
        First Class
        %br>/
        Support
      %p
        We will advertise your venue across
        %br>/
        our various social media platforms
        %br>/
        for no extra cost
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
.call_to_action
  %h1 Get 3 months free . Get started today

  = image_tag("idea.png", :alt => "Idea Img", :id => 'ideaimg2')
= render 'page/footer'