= simple_form_for @venue do |f|
  = f.input :name
  = f.input :description
  = f.input :category
  = f.input :price
  = f.input :price_plan
  = f.input :postcode
  = f.input :county
  = f.input :street_line_one
  = f.input :street_line_two
  = f.input :city
  = f.input :capacity_standing
  = f.input :capacity_sitting
  = f.input :size
  = f.input :parking_spaces
  = f.input :kitchens
  = f.input :disabled_acess
  = f.input :outside_spaces
  = f.input :toilets
  = f.input :tables 
  = f.input :chairs
  = f.input :extra_info
  = f.input :external_catering_allowed
  = f.input :external_alcahool_allowed
  = f.input :inhouse_catering_provided
  = f.input :inhouse_alcahool_provided
  = f.input :storage
  = f.input :air_conditionind
  = f.input :wifi
  = f.input :projector
  = f.file_field :thumbnail
  
  = f.button :submit
  
