.mobile_only
  = render 'page/nav'
.dashboard
  %h1.admin_name 
    Hello,
    = current_admin.ownername
  #sidenav
    %a= link_to "New Venue", new_venue_path
    %br/
    %br/
    %br/
    %br/
    %a= link_to "Edit Profile", edit_admin_registration_path
    %br/
    %br/
    %br/
    %br/
    %a= link_to 'Booking Requests', venue_bookings_path(@venue)
    %br/
    %br/
    %br/
    %br/
    %a= link_to('Logout', destroy_admin_session_path, method: :delete)
  
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/

    
  .wrapper
    - if @venue.blank?
      %h2.colour2.center You have no venues
  
  #posts
    - @venue.each do |venue|
      .post
        .post_image
          = link_to ( image_tag venue.thumbnail.url(:medium)), venue, target: :_blank
        .post_content
          = link_to venue.name, venue, :class => 'venuetext', target: :_blank
          %br/
          %br/
          = link_to venue.category, venue, :class => 'venuecat', target: :_blank
          %br/
          %br/
          = link_to venue.city, venue, :class => 'venuecity', target: :_blank