%body#page_dash
  .only_dash
    .topheader
      = render 'page/nav'
      %h1 Dashboard

  %br/
  %br/
  #pins
    - @venue.each do |venue|
      .box
        = link_to ( image_tag venue.thumbnail.url), venue, :target => "_blank"
        %h2= link_to venue.name, venue, :target => "_blank"
        %p.user= link_to "View Page", venue, :target => "_blank"

    %br/
    %br/
    %br/
    %br/
    %br/
  
  .row
    - unless current_admin.venues.count == 0
      %p#sec= link_to "Booking Requests", venue_bookings_path(:venue_id => '1'), class: 'item'
    %p#sec= link_to "Edit Account",edit_admin_registration_path, class: 'item'
    %p#sec= link_to "New Page", new_venue_path, class: 'item'
        



  
  

