
= render 'page/nav'
.topheader
  %h1 
    Reasults for #{params[:city]} #{params[:category]}

#posts
  - @venue.each do |venue|
    .post
      .post_image
        = link_to ( image_tag venue.thumbnail.url(:medium)), venue, target: :_blank
      .post_content
        = link_to venue.name, venue, :class => 'venuetext', target: :_blank
        %br/
        %br/
        = link_to venue.category, venue, :class => 'venuecat', target: :_blank
        %br/
        %br/
        = link_to venue.city, venue, :class => 'venuecity', target: :_blank

.wrapper          
  - unless admin_signed_in?
    - if @venue.blank?
      %h3.center.colour
        There are no venues containing the terms
        %br/
      %h3.center.colour2
        #{params[:city]} #{params[:category]}

%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/




        


      

= render 'page/footer2'

