
= render 'page/nav'

- unless admin_signed_in?  
  = form_tag(venues_path, :method => "get", :id => 'form',:class => "margin") do
    = text_field_tag (:city), params[:city], placeholder: "location ", required: true, :id => 'search'
    = select_tag((:category), options_for_select([["Hall","hall"],["Bar","bar"],["Meeting Room","meeting room"],["Reception","reception"],["Kids Party","kids party"],["Exhibition","exhibition"],["Performance Venue","Performance Venue"],["Wedding Venue","Wedding Venue"],["Private Room","private room"],["Conference Room","conference room"]],params[:category].to_i), prompt: "Venue Type", :id => 'cat')
    .index
      %br/
      = submit_tag "Search", :name => nil, :class => "searchbutton"
      
      
  
  %br
  %br
  %br
  %br
  %br
  %br

-if admin_signed_in?
 
  = render 'admins/dashboard'
  - if @venue.blank?
    %h4#eror
      You have no venues
      
#posts
  - @venue.each do |venue|
    .post
      .post_image
        = link_to ( image_tag venue.thumbnail.url(:medium)), venue, target: :_blank
      .post_content
        = link_to venue.name, venue, :class => 'venuetext', target: :_blank
        %br/
        %br/
        = link_to venue.category, venue, :class => 'venuecat', target: :_blank
        %br/
        %br/
        = link_to venue.city, venue, :class => 'venuecit', target: :_blank

%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/

- unless admin_signed_in?
  = will_paginate @venue, class:'paginate'


        
.wrapper          
  - unless admin_signed_in?
    - if @venue.blank?
      %h4#eror
        There are no venues 

      

= render 'page/footer'

