
= render 'page/nav'

- unless admin_signed_in?  
  = form_tag(venues_path, :method => "get", :id => 'form',:class => "margin") do
    = text_field_tag  :search, params[:search], placeholder: "location ", :id => 'search', required: true
    = submit_tag "Search", :name => nil, :class => "searchbutton"
  %br
  %br
  %br
  %br
  %br
  %br

-if admin_signed_in?
 
  = render 'admins/dashboard'
  - if @venue.blank?
    %h4#eror
      You have no venues
      
#posts
  - @venue.each do |venue|
    .post
      .post_image
        = link_to ( image_tag venue.thumbnail.url(:medium)), venue, target: :_blank
      .post_content
        = link_to venue.name, venue, :class => 'venuetext', target: :_blank
        %br/
        %br/
        = link_to venue.category, venue, :class => 'venuecat', target: :_blank
        %br/
        %br/
        = link_to venue.city, venue, :class => 'venuecit', target: :_blank






        
          
- unless admin_signed_in?
  - if @venue.blank?
    %h4#eror
      There are no venues containing the term 
      %p#two #{params[:search]}
      

= render 'page/footer'

