= render 'page/nav'

- if admin_signed_in?
  .topheader
    %h1 My Venues
- unless admin_signed_in?
  .topheader2
    %h1
      = @venue.count 
      reasults for
      #{params[:city]} #{params[:category]}
    %hr.hr_short
#pins.transitions-enabled
  - @venue.each do |venue|
    .box.panel-default
      = link_to ( image_tag venue.thumbnail.url), venue
      %h2= link_to venue.name, venue
      %p.user= link_to venue.city, venue

%br/
%br/
%br/
%br/
%br/




        


      



