- if admin_signed_in?
  = link_to('Logout', destroy_admin_session_path, method: :delete) 
  = link_to "New Venue", new_venue_path
  %h1 My Venues

- @venue.each do |venue|
  = link_to ( image_tag venue.thumbnail.url(:medium)), venue, target: :_blank
  %h2= link_to venue.name,venue, target: :_blank
  -if admin_signed_in?
    = link_to 'Delete', venue, method: :delete, data: { confirm: 'Are you sure?' } 
    = link_to 'Edit', edit_venue_path(venue), target: :_blank




-if @venue.blank?
  %h2 You have no venues