- if admin_signed_in?
  = link_to "New Venue", new_venue_path, :class => 'button'
  %h1.h1 My Venues
  %br
  %br
  %br
  %br
  
- @venue.each do |venue|
  = link_to ( image_tag venue.thumbnail.url(:medium)), venue, target: :_blank
  %h2= link_to venue.name,venue, target: :_blank
  -if admin_signed_in?
    = link_to 'Delete', venue, method: :delete, data: { confirm: 'Are you sure, you will loose everything !' } 
    = link_to 'Edit', edit_venue_path(venue), target: :_blank



-if admin_signed_in?
  -if @venue.blank?
    %h2 You have no venues
  
- if @venue.blank?
  %h4#eror
    There are no venues containing the term 
    %p#two #{params[:search]}
  