- if admin_signed_in?
  = link_to "New Venue", new_venue_path, :class => 'button'
  %h1.h1 My Venues
  %br
  %br
  %br
  %br
- unless admin_signed_in?  
  = form_tag(venues_path, :method => "get", :id => 'form',:class => "margin") do
    = text_field_tag  :search, params[:search], placeholder: "location ", :id => 'search', required: true
    = submit_tag "Search", :name => nil, :class => "searchbutton"
%br
%br
%br
%br
%br
%br

.grid
  .grid-sizer
  - @venue.each do |venue|
    .grid-item
      = link_to ( image_tag venue.thumbnail.url(:medium)), venue, target: :_blank
      %br/
      %br/
      = link_to venue.name, venue, :class => 'venuetext', target: :_blank
      %br/
      %br/
      = link_to venue.category, venue, :class => 'venuecat', target: :_blank
      %br/
      %br/
      = link_to venue.city, venue, :class => 'venuecit', target: :_blank
      %br/
      -if admin_signed_in?
        %br/
        %br/
        %br/
        = link_to 'Delete', venue, method: :delete, data: { confirm: 'Are you sure, you will loose everything !' }, :class => 'venuecit'
        %br/
        %br/
        = link_to 'Edit', edit_venue_path(venue), target: :_blank, :class => 'venuecit'
        %br/
        %br/



-if admin_signed_in?
  -if @venue.blank?
    %h2 You have no venues
  
- if @venue.blank?
  %h4#eror
    There are no venues containing the term 
    %p#two #{params[:search]}

