%h1= @venue.name
%p= @venue.description

= image_tag @venue.thumbnail.url(:medium)

%p.username
		Shared by
		= @venue.admin.name

%p.username
		Shared by
		= @venue.admin.phone

%p.username
		Shared by
		= @venue.admin.email		

