= render 'page/nav'



%br/

.wrapper
  %h1= @venue.name
  %p.uppercase.colour= @venue.description
  %br/
  %br/
  
  %br/
  .photo
    .photo-sizer
      .photo-item
        = image_tag @venue.thumbnail.url(:medium)
  %br/
  %br/





  %br/
  %br/

  
  / Trigger/Open The Modal
  %br
  %br
  %button#myBtn.button  Contact Venue 
  %br/
  %br/
  / The Modal
  #myModal.modal
    / Modal content
    .modal-content
      %span.close ×
      .wrapper
        %h3.colour 
          Contact Number :
          = @venue.admin.phone
        %h3.colour 
          Contact Email :
          = @venue.admin.email
        %h3.colour
          This venue is listed by  :
          = @venue.admin.name
        %br/
        %br/

      %br/
      %br/
      %br/
  %br/
  %br/

%br 
%br
%br
%br

#London.tabcontent
  %h1 Price
  %p
  £ 
  = @venue.price 
  = @venue.price_plan
  
  %br/
  %br/
#Paris.tabcontent
  %h1 Location
  %p
  = @venue.city
  %br/
  %br/
  = @venue.postcode 
  %br/
  %br/
  = @venue.county
  %br/
  %br/
  = @venue.street_line_one
  %br/
  %br/
  = @venue.street_line_two
  %br/
#Tokyo.tabcontent

  %h1 Capacity
  %p 
  = @venue.capacity_standing
  people standing
  
  %p
  = @venue.capacity_sitting
  people sitting
  
  %p
  = @venue.size
  sqm
  
  %br/
  %br/

%button#defaultOpen.tablink{:onclick => "openCity('London', this, 'gray')"} Price
%button.tablink{:onclick => "openCity('Paris', this, 'gray')"} Location
%button.tablink{:onclick => "openCity('Tokyo', this, 'gray')"} Capacity


%br
%br

.wrapper


  %br
  %br
  %h1.colour.center Features
  %br
  %h2
    = @venue.parking_spaces
    parking spaces
  
  %h2
    - if @venue.disabled_acess == true
      Disabled access
    -else
      No disabled access
  
  %h2
    - if @venue.outside_spaces == true
      Outside space
    - else 
      No outside space
    
  %h2
    - if @venue.kitchens == 0
      No kitchens
    - else
      = @venue.kitchens
      kitchens
  
  %h2
    - if @venue.toilets == 0
      No toilets
    - else
      = @venue.toilets
      toilets
      
  %h2
    - if @venue.tables == 0
      No tables
    - else
      = @venue.tables
      tables
  
  %h2
    - if @venue.chairs == 0
      No chairs
    - else
      = @venue.chairs
      chairs    
  %h2
    - if @venue.external_catering_allowed == true
      External Catering allowed
    - else 
      No external catering allowed
      
  %h2
    - if @venue.external_alcahool_allowed == true
      External alcahol allowed
    - else 
      No external alcahol allowed
      
  %h2
    - if @venue.inhouse_catering_provided == true
      Catering provided
    - else 
      No catering provided
  
  %h2
    - if @venue.inhouse_alcahool_provided == true
      Alcahol provided
    - else 
      No alcahol provided    
    
  %h2
    - if @venue.storage == true
      Storage
    - else 
      No Storage
      
  %h2
    - if @venue.air_conditionind == true
      Air conditioning
    - else 
      No air conditioning
      
  %h2
    - if @venue.wifi == true
      Wifi
    - else 
      No wifi
      
  %h2
    - if @venue.outside_spaces == true
      Outside space
    - else 
      No outside space
  %h2
    - if @venue.projector == true
      Projector provided
    - else 
      No projector provided
  %br
  %br
  %h1.colour.center Extra Info
  %br
  %h3.center
    = @venue.extra_info
    %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %h2.colour.center
    Added 
    = time_ago_in_words(@venue.created_at)
    ago
  
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %h1.colour.center More Venues
  %br/
  %br/
.grid
  .grid-sizer
  - @venues.each do |venue|
  
    .grid-item
      = link_to ( image_tag venue.thumbnail.url(:medium)), venue, target: :_blank
      %br/
      %br/
      = link_to venue.name, venue, :class => 'venuetext', target: :_blank
      %br/
      %br/
      = link_to venue.category, venue, :class => 'venuecat', target: :_blank
      %br/
      %br/
      = link_to venue.city, venue, :class => 'venuecit', target: :_blank
      %br/


= render 'page/footer'
:javascript
  // Get the modal
  var modal = document.getElementById('myModal');
  
  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
      modal.style.display = "block";
  }
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
      modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  
  // Tabs
  
  function openCity(cityName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(cityName).style.display = "block";
    elmnt.style.backgroundColor = color;

  }
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
