= render 'page/nav'
.venue_image
  = image_tag @venue.thumbnail.url(:medium)
.venue_wrapper
  .venue_wrapper_top_content
    %br/
    %br/
    = link_to @venue.name, @venue.admin
    %h2#city= @venue.city
  %br/
  %br/
  %br/
  .hr_area
    %hr.top
    %br/
    %br/
    %h3 About this venue
    %br/
    %p.description= @venue.description
    %br/
    %br/
    %br/
    %hr.top
    %br/
    %br/
    %br/
    %br/
  .content_section
    %h1.colour.center Amenities
    .ameneties_container
      .ameneties-grid
        %i.fa.fa-television{"aria-hidden" => "true"}
        %br/
        %h2.gray
          - if @venue.projector == true
            Projector provided
          - else 
            No projector provided

      .ameneties-grid
        %i.fa.fa-wifi{"aria-hidden" => "true"}
        %br/
        %h2.gray
          - if @venue.wifi == true
            Wifi
          - else 
            No wifi

      .ameneties-grid
        %i.fa.fa-bolt{"aria-hidden" => "true"}
        %br/
        %h2.gray
          - if @venue.air_conditionind == true
            Air conditioning
          - else 
            No air conditioning

      .ameneties-grid
        %i.fa.fa-archive{"aria-hidden" => "true"}
        %br/
        %h2.gray
          - if @venue.storage == true
            Storage
          - else 
            No Storage

      .ameneties-grid
        %i.fa.fa-stop{"aria-hidden" => "true"}
        %br/
        %h2.gray
          - if @venue.chairs == 0
            No chairs
          - else
            = @venue.chairs
            chairs  

      .ameneties-grid
        %i.fa.fa-table{"aria-hidden" => "true"}
        %br/
        %h2.gray
          - if @venue.tables == 0
            No tables
          - else
            = @venue.tables
            tables

      .ameneties-grid
        %i.fa.fa-tint{"aria-hidden" => "true"}
        %br/
        %h2.gray
          - if @venue.toilets == 0
            No toilets
          - else
            = @venue.toilets
            toilets
      
      .ameneties-grid
        %i.fa.fa-cutlery{"aria-hidden" => "true"}
        %br/
        %h2.gray
          - if @venue.kitchens == 0
            No kitchens
          - else
            = @venue.kitchens
            kitchens

      .ameneties-grid
        %i.fa.fa-globe{"aria-hidden" => "true"}
        %br/
        %h2.gray
          - if @venue.outside_spaces == true
            Outside space
          - else 
            No outside space

      .ameneties-grid
        %i.fa.fa-wheelchair{"aria-hidden" => "true"}
        %h2.gray
          - if @venue.disabled_acess == true
            Disabled access
          -else
            No disabled access

      .ameneties-grid
        %i.fa.fa-car{"aria-hidden" => "true"}
        %h2.gray
          = @venue.parking_spaces
          Parking spaces

  .accordion_wrapper
    %button.accordion#top1 Location
    .panel
      %p
        = @venue.city
        %br/
        %br/
        = @venue.postcode 
        %br/
        %br/
        = @venue.county
        %br/
        %br/
        = @venue.street_line_one
        %br/
        %br/
        = @venue.street_line_two
        %br/
        %br/
        %br/
        %br/
        %br/
    %button.accordion Catering
    .panel
      %p 
        - if @venue.inhouse_alcahool_provided == true
          Alcahol provided
        - else 
          No alcahol provided
        %br/
        %br/
        - if @venue.inhouse_catering_provided == true
          Catering provided
        - else 
          No catering provided
        %br/
        %br/
        - if @venue.external_alcahool_allowed == true
          External alcahol allowed
        - else 
          No external alcahol allowed
        %br/
        %br/
        - if @venue.external_catering_allowed == true
          External Catering allowed
        - else 
          No external catering allowed
        %br/
        %br/
        %br/
        %br/




    %button.accordion#bottom1 Capacity
    .panel
      %p 
        = @venue.capacity_standing
        people standing
    
      %p
        = @venue.capacity_sitting
        people sitting
    
      %p
        = @venue.size
        sqm

  %br/
  %br/
  %br/
  %br/
  .info_area
    %hr
      %br/
      %h3.colour.center Extra Info
      %h4.center.colour
        = @venue.extra_info
        - if @venue.extra_info.blank?
          None
      %br/
    %br/
    %br/
    %br/
    .hide
      .comment
        %h2.colour2= pluralize(@venue.comments.count, "Review")
        %br/
        = render 'comments/form' 
        %br/
        - @comments.each do |comment|
          %h3.colour= comment.content
          %hr.top

- unless admin_signed_in?
  = render 'bookings/form'
:javascript
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    }
  }
