= render 'page/nav'
.venue_wrapper
  .venue_image
    = image_tag @venue.thumbnail.url(:medium)
  %h1.venue_name= @venue.name
  %h2#city= @venue.city
  - if @venue.verified == true
    .contact_nav
      .secTwo
        %i.fa.fa-check{"aria-hidden" => "true"}
        %p.venue_check Verified

  .tab-frame
    %hr
    .l
      %br/
      %br/
      %input#tab1{:checked => "checked", :name => "tab", :type => "radio"}/
      %a{:href => "#C1"} Overview
      %input#tab2{:name => "tab", :type => "radio"}/
      %a{:href => "#C2"} Amenities
      %input#tab3{:name => "tab", :type => "radio"}/
      %a{:href => "#C3"} Location
      %input#tab4{:name => "tab", :type => "radio"}/
      %a{:href => "#C4"} Catering
      %input#tab5{:name => "tab", :type => "radio"}/
      %a{:href => "#C5"} Capacity
      %input#tab6{:name => "tab", :type => "radio"}/
      %a{:href => "#C6"} Reviews
      %input#tab7{:name => "tab", :type => "radio"}/
      %a{:href => "#C7"} Book
      %br/ 
      %br/
      %br/
    %hr
    .tab#C1
      %h2.title About
      %p.description= @venue.description
 
      %h2.title Extra info 
      %p.description= @venue.extra_info
      - if @venue.extra_info.blank?
        %p.description No extra infomation
        
    %hr/
    .tab#C2
      .inline
        %i.fa.fa-television{"aria-hidden" => "true"}
      .inline
        - if @venue.projector == true
          %h2.title Projector 
        - else 
          %h2.title#strike Projector
      %br/
      .inline
        %i.fa.fa-wifi{"aria-hidden" => "true"}
      .inline
        - if @venue.wifi == true
          %h2.title Wifi 
        - else 
          %h2.title#strike Wifi
      %br/
      .inline
        %i.fa.fa-bolt{"aria-hidden" => "true"}
      .inline
        - if @venue.air_conditionind == true
          %h2.title Air conditioning 
        - else 
          %h2.title#strike Air conditioning
      %br/
      .inline
        %i.fa.fa-archive{"aria-hidden" => "true"}
      .inline
        - if @venue.storage == true
          %h2.title Storage 
        - else 
          %h2.title#strike Storage
      %br/
      .inline
        %i.fa.fa-stop{"aria-hidden" => "true"}
      .inline
        - if @venue.chairs == 0
          %h2.title#strike Chairs
        - else
          %h2.title
            = @venue.chairs
            chairs
      %br/
      .inline
        %i.fa.fa-table{"aria-hidden" => "true"}
      .inline
        - if @venue.tables == 0
          %h2.title#strike Tables
        - else 
          %h2.title
            = @venue.tables
            tables
  
      %br/
      .inline
        %i.fa.fa-tint{"aria-hidden" => "true"}
      .inline
        - if @venue.toilets == 0
          %h2.title#strike Toilets
        - else
          %h2.title
            = @venue.toilets
            toilets
          
      %br/
      .inline
        %i.fa.fa-cutlery{"aria-hidden" => "true"}
      .inline
        - if @venue.kitchens == 0
          %h2.title#strike Kitchen
        - else
          %h2.title
            = @venue.kitchens
            kitchens
      
      %br/
      .inline
        %i.fa.fa-globe{"aria-hidden" => "true"}
      .inline
        - if @venue.outside_spaces == true
          %h2.title Outside space 
        - else 
          %h2.title#strike Outside space
          
      %br/
      .inline
        %i.fa.fa-wheelchair{"aria-hidden" => "true"}
      .inline
        - if @venue.disabled_acess == true
          %h2.title Disabled access 
        - else 
          %h2.title#strike Disabled access
          
      %br/
      .inline
        %i.fa.fa-car{"aria-hidden" => "true"}
      .inline
        - if @venue.parking_spaces == 0
          %h2.title#strike Parking 
        - else
          %h2.title
            = @venue.parking_spaces 
            parking spaces
    %hr/
    .tab#C3
      %h2.title City
      %p.description= @venue.city
      
      %h2.title Postcode
      %p.description= @venue.postcode 
      
      %h2.title County
      %p.description= @venue.county
      
      %h2.title Street line 1
      %p.description= @venue.street_line_one
      
      - if @venue.street_line_two.blank?
        .hide
      - else
        %h1.title Street line 2
        %p.description= @venue.street_line_two
        
    %hr/
    .tab#C4
      %h2.title Internal
      - if @venue.inhouse_alcahool_provided == true
        %h2.description Alcahol provided
      - else 
        %h2.description#strike Alcahol provided
      
      - if @venue.inhouse_catering_provided == true
        %h2.title Catering provided
      - else 
        %h2.description#strike Catering provided
      
      %h2.title External
      - if @venue.external_alcahool_allowed == true
        %h2.description External alcahol allowed
      - else 
        %h2.description#strike External alcahol allowed
        
      - if @venue.external_catering_allowed == true
        %h2.description External Catering allowed
      - else 
        %h2.description#strike External catering allowed
        
    %hr/
    .tab#C5
      %h2.title Standing
      %p.description
        = @venue.capacity_standing
        people standing
      
      %h2.title Sitting
      %p.description
        = @venue.capacity_sitting
        people sitting
        
      %h2.title Size
      %p.description
        = @venue.size
        sqm
        
    %hr/
    .tab#C6
      .comment
        %h2.title= pluralize(@venue.comments.count, "Review")
        %br/
        - if user_signed_in?
          = render 'comments/form' 
        %br/
        - @comments.each do |comment|
          
          %h3.colour= comment.content
          %p.bottom= comment.user.name
          %hr
        
    - unless admin_signed_in?    
      %hr/
      #moveDown
        .tab#C7
          %h2.title Booking
          %p.description Complete the form below to request a booking or a viewing for this venue.
          = render 'bookings/form'

  
  
- if admin_signed_in?
  .booking_action
    = link_to "Edit venue", edit_venue_path(@venue), class: 'link'
    = link_to "Delete venue", venue_path(@venue), method: :delete, data: { confirm: "Are you sure?" }, class: 'margin-link-left'


