<%= render "page/nav" %>
<div class="topheader">
  <h1>Venue Log In</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <br>
  <div class="field">
    <%= f.input :email, required: true , input_html: { class: 'in' }, label: false, placeholder: "Email" %>
    <hr class="hr_login">
  </div> 
  <br>
  <div class="field">
    <%= f.input :password, required: true , input_html: { class: 'in' }, label: false, placeholder: "Password"%>
    <hr class="hr_login">
  </div>  
  <br>
  <br>
 <div class="field">
  <div class="form-actions">
    <%= f.button :submit, "Log in" ,:class => 'button'%>
  </div>
  </div>
<br>
<br>
<% end %>
<br>
<div class="field">
<%= render "admins/shared/links" %>
</div>

<br>
<br>

<%= render "page/footer" %>