<h2 style="color:gray;text-align:center;font-size:30px">Log in</h2>
<br>
<br>
<br>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.input :email, required: false, autofocus: true ,:class => 'box'%>
  </div>  
  <br>
  <div class="field">
    <%= f.input :password, required: false %>
  </div>  
<br>
<br>

 <div class="field">
  <div class="form-actions">
    <%= f.button :submit, "Log in" ,:class => 'button'%>
  </div>
  </div>
<br>
<br>
<% end %>

<div class="field">
<%= render "admins/shared/links" %>
</div>