!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Khrez
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Fredoka+One", :rel => "stylesheet"}/
    %meta{:content => "", :name => "google-site-verification"}/ = succeed "\"" do 
      %meta{:content => "7vhVel6XY20J9G-UDJ0xBJ2sUqYvnB9l7vgtmMClIpQ", :name => "google-site-verification"}/

    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    - if notice
      .alert
        %span.closebtn ×
        %strong= notice
    - if alert
      .alert
        %span.closebtn ×
        %strong= alert
    = yield
  :javascript
    var close = document.getElementsByClassName("closebtn");
    var i;
    
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
        }
    }
