<%= render 'page/nav'%>

<h2 id="login">Account</h2>
<br>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="field">
      <%= f.input :email, required: true, input_html: { class: 'in' }, label: false, placeholder: "Email" %>
      <hr class="hr_login">
    </div>
    <br>
    <div class="field">
      <%= f.input :name, autocomplete: "off", required: false , input_html: { class: 'in' }, label: false, placeholder: "Full Name"%>
      <hr class="hr_login">
    </div>
    <br>
    <div class="field">
      <%= f.input :number, autocomplete: "off", required: false , input_html: { class: 'in' }, label: false, placeholder: "Phone Number"%>
      <hr class="hr_login">
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <br>
    <div class="field">
    <%= f.input :password, autocomplete: "off", required: false , input_html: { class: 'in' }, label: false, placeholder: "Change Password"%>
    <hr class="hr_login">
    </div>
    <br>
    <div class="field">
    <%= f.input :password_confirmation, required: false , input_html: { class: 'in' }, label: false, placeholder: "Password Confirmation" %>
    <hr class="hr_login">
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="field">
    <%= f.input :current_password, required: false , input_html: { class: 'in' }, label: false, placeholder: "Current Password" %>
    <hr class="hr_login">
    </div>
    
  </div>
<br>
<br>
  <div class="field">
    <%= f.button :submit, "Update" ,:class => 'button'%>
  </div>
<% end %>

<br>
<br>

<div class="field">
  
<h3>Delete my account</h3>

<p><%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,:class => 'link' %></p>

</div>

<br>
<br>
<br>
<br>